<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../css/semantic.min.css" rel="stylesheet">
    <script src="../css/jquery-3.3.1.min.js" ></script>
    <script src="../css/semantic.min.js" ></script>
    <title>Forsida</title>
</head>
<body>

<div class="ui segment">
  <img class="ui centered medium image" src="../images/matrix.jpg">
  <p>
A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.</p>
 
</div>
</body>
</html>