<!DOCTYPE html>
<html>
<head>
	 <link href="../css/semantic.min.css" rel="stylesheet">
    <script src="../css/jquery-3.3.1.min.js" ></script>
    <script src="../css/semantic.min.js" ></script>
	<title>hafa samband</title>
</head>
<body>
	<form class="ui form">
  <div class="field">
    <label>Nafn</label>
    <input type="text" name="first-name" placeholder="Nafn">
  </div>
  <div class="field">
    <label>Netfang</label>
    <input type="text" name="last-name" placeholder="Netfang">
  </div>
  <div class="field">
    <label>Fyrirspurn</label>
    <input type="text" name="last-name" placeholder="Fyrirspurn">
  </div>
  
  <button class="ui button" type="submit">Submit</button>
</form>


</body>
</html>